body{
    background-color: rgb(255, 46, 46);
}

div.headerForQuiz{
    text-align: center;
    background-color: white;
    padding: 10px;
}
.headerForQuiz h1{
    /* color: rgb(255, 46, 46); */
    color: white;
    background-color: black;
    border:10px groove rgb(255, 46, 46);
}

.score{
    text-align: center;
    background-color: rgb(255, 46, 46);
    padding: 10px;
    color: white;
    font-size: 30px;
}

/*This part took me a while because i didnt want to display the current score as user
is taking the trivia/quiz. Let's see if this works. I added another class and hid it for now*/
.score.hide{
    display: none;
}

.quizBody{
    padding: 10px 10px;
    color: white;
    /* font-size: 20px; */
    
}

.questions{
    font-size: 20px;
    font-weight: bolder;
    margin: 30px;
}

.questions:hover{
    transition: all 1.5s ease-in-out;
    background-color: white;
    Border: 5px groove green;
    color: black;
    box-shadow: 10px 7px 8px black;
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;
}

/* The submit button took some css attribute researching. This part of the project caught me 
off-guard because I assumed it would be easier lol. Esp when highlighted with mouse*/

/*where i learned about transition https://www.w3schools.com/css/css3_transitions.asp */
input.submit{
    /* transition: all;
    transition-delay: .1s;
    transition-timing-function: ease-in-out; */
    transition: all .3s ease-in-out;
    padding: 10px;
    width: 100%;
    background-color: black;
    color: greenyellow;
    font-size: 30px;
    font-weight: bolder;
    box-shadow: 10px 7px 8px white;
    Border: 5px groove white;
    
}

/* https://www.w3schools.com/cssref/sel_hover.asp
https://freefrontend.com/css-hover-effects/#css-hover-effect-examples
these sites were AWESOME. Learned something new with the hover technique */
input.submit:hover{
    cursor: wait;
    background-color: white;
    Border: 5px groove green;
    color: black;
    box-shadow: 10px 7px 8px black;
}